body{
    background-image: url(liuxury.jpg);
}
/* .feedback{
    background-image: url(liuxury.jpg);
} */
h1{
    color: cadetblue;
}
span{
    color: whitesmoke;
    text-align: center;
    font-size: larger;
}